.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

input.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

input.invalid {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 0.875rem;
}
