.container {
  max-width: 800px;
  margin: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  padding: 0.5rem;
  text-align: left;
}
button {
  cursor: pointer;
}
